


.dropdown-menu>li>form>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.dropdown-menu>li>form>a:hover,
.dropdown-menu>li>form>a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    background-repeat: repeat-x;
}